/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* --- Light Mode --- */
  :root {
    --accent: 0 0% 90%;
    --accent-foreground: 0 0% 0%;

    --background: 0 0% 100%;

    --border: 0 0% 80%;

    --button-border: 0 0% 80%;

    --card: 0 0% 95%;
    --card-foreground: 0 0% 0%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 70% 50%;
    --chart-3: 40 70% 50%;
    --chart-4: 280 70% 50%;
    --chart-5: 0 70% 50%;

    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 100%;

    --footer: 0 0% 90%;

    --foreground: 0 0% 0%;

    --input: 0 0% 95%;

    --muted: 0 0% 95%;
    --muted-foreground: 0 0% 40%;

    --navbar: 0 0% 100%;
    --navbar-foreground: 0 0% 0%;
    --navbar-border: 0 0% 80%;

    --placeholder: 0 0% 70%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --popover-border: 0 0% 80%;

    --primary: 240 80% 75%;
    --primary-foreground: 0 0% 100%;

    --radius: 0.75rem;

    --ring: 240 80% 75%;

    --secondary: 0 0% 95%;
    --secondary-foreground: 0 0% 0%;
  }

  /* --- Dark Mode --- */
  .dark {
    --accent: 0 0% 20%;
    --accent-foreground: 210 40% 98%;

    --background: 0 0% 10%;

    --border: 0 0% 20%;

    --button-border: 0 0% 10%;

    --card: 0 0% 15%;
    --card-foreground: 0 0% 100%;

    --chart-1: 220 70% 60%;
    --chart-2: 160 70% 60%;
    --chart-3: 40 70% 60%;
    --chart-4: 280 70% 60%;
    --chart-5: 0 70% 60%;

    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 100%;

    --footer: 0 0% 25%;

    --foreground: 0 0% 100%;

    --input: 0 0% 25%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 80%;

    --navbar: 0 0% 10%;
    --navbar-foreground: 0 0% 100%;
    --navbar-border: 0 0% 30%;

    --placeholder: 0 0% 40%;

    --popover: 0 0% 25%;
    --popover-foreground: 0 0% 100%;
    --popover-border: 0 0% 10%;

    --primary: 240 80% 75%;
    --primary-foreground: 0 0% 100%;

    --ring: 245 80% 80%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
